
# Google Drive API credentials
credentials.json
token.pickle

# Directories managed by Google Drive
roms/
saves/

# MGBA
mgba/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz