
# Google Drive API credentials
credentials.json
token.pickle

# Directories managed by Google Drive
roms/
saves/

# MGBA
mgba/
mGBA-build-2025-07-15-win32-8840-62070f11d5c8b9c55c53479c7e133d06ca676323/

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# PKBT generated at runtime
pkbt_app_state.json